*{margin: 0;padding: 0}
.header{height: 80px; background-color: #FFFFFF;}
.nav{height: 50px;background-color: #459df5}
.nav ul{width: 1000px;height: 50px;margin-left: 150px;list-style: none}
.nav li {float: left;position: relative}
.nav li > a{display: block;text-decoration: none;width: 100px;height: 50px;line-height: 46px;padding:0 20px;text-align: center;color: white}
.nav li:hover > a{background-color: #338ce6}
.nav li .down, .down1{height: 290px;width: 140px;background-color: #19508b;position: absolute;top: 50px;left: 0;display: none}
.nav .down a{display: block;text-decoration: none;height: 50px;line-height: 46px;padding:0 20px;text-align: center;color:#76b7f0;}
.nav .down1 a{text-decoration: none;line-height: 46px;float: left;width: 70px;height: 50px;color:#76b7f0;text-align: center;}
.nav .down a:hover {text-decoration:underline;color: white;}
.nav .down1 a:hover {text-decoration:underline;color: white;}
.nav li:hover .down{display: block}
.nav li:hover .down1{display: block}
body{background: #f5f5f5}
.min{width: 1000px; background-color: #FFFFFF;margin: 20px auto 10px; border: 1px #e5e5e5 solid;}
.min h1{ont-size: 34px;font-weight: 400;margin: 72px 0px 0px 45px;}
p{font-size: 14px;text-indent:2em;line-height: 24px;color: #333;margin: 15px auto;margin-left: 45px;}
h2{line-height: 24px;font-size: 22px;font-weight: 400;border-left: 10px #4f9cee solid;padding-left: 20px;}
h3{font-size: 18px;line-height: 36px;font-weight: 400;margin: 5px 0 5px 30px;}
a{ext-decoration: none;}
a:hover{text-decoration: underline;}
.www ol{color: #63aee9;font-size: 16px;margin-left: 200px;}
.www ol li a{color: #136ec2;}
.qqq ol{color: #333;font-size: 14px;margin: 10px 0 10px 35px;}
.qqq ol li {color: #333;line-height: 24px;margin: 0px 0 5px 35px}
.eee ol{color: #333;font-size: 14px;margin: 10px 0 10px 35px;}
.eee ol li {color: #333;line-height: 24px;margin: 0px 0 5px 35px}
span{ont-size: 12px;margin-left: 80px;color: #888;}

